.img_f {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;    
}

@font-face {
    font-family: "Alex Brush";
    src: url("AlexBrush-Regular.ttf");
   }
   
#titre_container{
    text-align: center;
    position: absolute;
    top: 75%;
    left: 32%;
    width: 35%;
    height: 22%;
}

#titre_expos {
    font-family: "Alex Brush";
    font-size: 500%;
    color: white;
}

#cadre1 {
    position: absolute;
    top: 75%;
    left: 32%;
    width: 35%;
    height: 22%;
    box-shadow: 10px 5px 5px #000000;
}

#cadre2 {
    position: absolute;
    top: 15%;
    left: 10%;
    min-width: 30%;
    min-height: 50%;
    box-shadow: 10px 5px 5px #000000;
    opacity: 70%;
}

#fleche-gauche {
    position: absolute;
    width: 5%;
    top: 40%;
    box-shadow: 10px 5px 5px #000000;
    opacity: 30%;
}

#fleche-droite {
    position: absolute;
    width: 5%;
    top: 40%;
    left: 94%;
    box-shadow: 10px 5px 5px #000000;
    opacity: 30%;
}

#img2 {
    position: absolute;
    top: 50%;
    left: 60%;
    height: 50%;
    width: 40%;
    opacity: 70%;
}

#cadre3 {
    position: absolute;
    top: 15%;
    left: 6%;
    min-width: 30%;
    min-height: 52%;
    box-shadow: 10px 5px 5px #000000;
    opacity: 70%;
}

#desc1 {
    font-family: "Alex Brush";
    top: 25%;
    left: 13%;
    font-size: 150%;
}

#desc1_container{
    position: absolute;
    text-align: left;
    top: 25%;
    left: 15%;
    min-width: 40%;
    min-height: 30%;
}

#desc2 {
    font-family: "Alex Brush";
    top: 25%;
    left: 13%;
    font-size: 150%;
}

#desc2_container {
    position: absolute;
    top: 21%;
    left: 10%;
    min-width: 46%;
    min-height: 35%;
    text-align: left;
}

#desc3 {
    font-family: "Alex Brush";
    font-size: 150%;
}

#cadre4 {
    position: absolute;
    min-width: 30%;
    min-height: 63%;
    top: 15%;
    left: 7%;
    opacity: 70%;
}

#schema_t {
    position: absolute;
    top: 72%;
    left: 73%;
    opacity: 50%;
}

#desc3_container {
    position: absolute;
    top:27%;
    left: 13%;
}