.img_f {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;    
}

@font-face {
    font-family: "Alex Brush";
    src: url("AlexBrush-Regular.ttf");
   }
   

#titre_expos {
    position: absolute;
    top: 75%;
    left: 32%;
    font-family: "Alex Brush";
    width: 35%;
    height: 22%;
    background: black;
    text-align: center;
    font-size: 300%;
    box-shadow: 10px 5px 5px #8f1b22;
}

#fleche-gauche {
    position: absolute;
    width: 5%;
    top: 40%;
}

#fleche-droite {
    position: absolute;
    width: 5%;
    top: 40%;
    left: 94.6%;
}